{% macro header(text) %}
<div class="mb-2">
    <h4>{{ text }}</h4>
</div>
{% endmacro %}

{% macro buttonset(text, icon, link = '#', has_delete = False, delete_link = '#', color = 'info') %}
<div class="my-2">
    <a href="#" class="btn btn-{{ color }} btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-{{ icon }}"></i>
        </span>
        <span class="text">{{ text }}</span>
    </a>
    {% if has_delete %}
    <a href="{{ delete_link }}" class="btn btn-danger btn-circle">
        <i class="fas fa-trash"></i>
    </a>
    {% endif %}
</div>
{% endmacro %}

{% extends 'base.html' %}

{% from 'widgets.html' import default_card, title %}

{% block title %} Settings {% endblock %}

{% block body %}
{{ title('Settings') }}

<div class="row">
    {% call default_card('General', 6, {
        'name': 'Quick Switch',
        'options': [
            'Reset All'
        ]
    }) %}
    {{ header('Keys') }}
    <p>
        This controls how your bot logs into Discord. Use this button to switch which
        user account it is logged into. To use a test second account, click on the
        configure button.
    </p>
    {{ buttonset('Change Discord Key', 'info-circle', '#', True, '#') }}
    {{ buttonset('Configure Test Bot', 'wrench', '#') }}
    <p>
        Change which backend database the bot is using dynamically. User data is not carried
        over and needs to be migrated manually. Supported: file-based, MongoDB, PostgreSQL,
        MySQL and Firebase.
    </p>
    {{ buttonset('Change MongoDB Key', 'info-circle', '#', True, '#') }}
    {{ buttonset('Switch Database', 'wrench', '#') }}
    <p>
        If your bot uses additional APIs, like weather, search, or other online services, you
        can manually define them here.
    </p>
    {{ buttonset('More APIs', 'info-circle', '#') }}
    {% endcall %}

    {% call default_card('Advertising', 6, {
        'name': 'Quick Switch',
        'options': [
            'Reset All'
        ]
    }) %}
    {{ header('Master Toggle') }}
    <p>
        This enables global advertising. It periodically attaches advertisments to user's
        commands and displays ads in certain channels with high activity where possible.
        Can be disabled with this toggle.
    </p>
    {{ buttonset('Enable Advertising', 'ad', color='success') }}
    {{ buttonset('Configure Ad Networks', 'cogs') }}
    {{ header('Premium User') }}
    <p>
        This disables premium users. Warning: premium users may be angry!
    </p>
    {{ buttonset('Disable Premium', 'coins', color='danger') }}
    {{ buttonset('Revoke All Premium', 'exclamation-circle', color='danger') }}
    {% endcall %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}