{% macro heading(name) %}
<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading">
    {{ name }}
</div>
{% endmacro %}

{% macro dropdown_section(name, links, top) %}
<h6 class="collapse-{% if top %}header{% else %}divider{% endif %}">{{ name }}</h6>
{% for label, link in links %}
<a class="collapse-item" href="{{ link }}">{{ label }}</a>
{% endfor %}
{% endmacro %}

{% macro dropdown(name, icon, menu, active = False) %}
<li class="nav-item {% if active %}active{% endif %}">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ name|replace(' ', '') }}" aria-expanded="true"
        aria-controls="collapse{{ name|replace(' ', '') }}">
        <i class="fas fa-fw {{ icon }}"></i>
        <span>{{ name }}</span>
    </a>
    <div id="collapse{{ name|replace(' ', '') }}" class="collapse" aria-labelledby="heading{{ name|replace(' ', '') }}" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            {% for item in menu %}
            {{ dropdown_section(item.name, item.links, loop.index0 == 0) }}
            {% endfor %}
        </div>
    </div>
</li>
{% endmacro %}

{% macro button(name, href, icon, active = False) %}
<li class="nav-item {% if active %}active{% endif %}">
    <a class="nav-link" href="{{ href }}">
        <i class="fas fa-fw {{ icon }}"></i>
        <span>{{ name }}</span></a>
</li>
{% endmacro %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin <sup><i class="fab fa-discord"></i></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    {{ button('Dashboard', '/', 'fa-tachometer-alt', is_index) }}

    {{ heading('Servers') }}

    {{ button('Statistics', '/statistics', 'fa-chart-bar', is_stats) }}

    <!-- Nav Item - Pages Collapse Menu -->
    {{ dropdown('Global Settings', 'fa-cog', [{
        'name': 'Main',
        'links': [
            ('General', '/settings#general'),
            ('Advertising', '/settings#ads')
        ]
    }], is_settings) }}

    <!-- Nav Item - Shards -->
    {{ button('Shards', '/shards', 'fa-wrench', is_shards) }}

    {{ heading('Users') }}

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-header"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    {% if freemium %}
    <!-- Sidebar Message -->
    <div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" src="/static/undraw_rocket.svg" alt="">
        <p class="text-center mb-2"><strong>Discord Dashboard Pro</strong> is packed with premium features,
            components, and more!</p>
        <a class="btn btn-success btn-sm" href="#">Upgrade to Pro!</a>
    </div>
    {% endif %}

</ul>
<!-- End of Sidebar -->