{% macro mini_card(name, statistic = 0, icon = 'fa-calendar', color_class = 'text-primary', border_class = 'border-left-primary') %}
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card {{ border_class }} shadow h-100 py-2 bg-dark">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold {{ color_class }} text-uppercase mb-1">
                        {{ name }}
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-light">
                        {{ statistic }}
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas {{ icon }} fa-2x text-light"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro default_card(name, width = 5, options = False) %}
<!-- Area Chart -->
<div class="col-xl-{{ width }} col-lg-{{ width - 1 }}">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ name }}</h6>
            {% if options %}
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-dark"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">{{ options.name }}</div>
                    {% for option in options.options %}
                        {% if option %}
                        <a class="dropdown-item" href="#">{{ option }}</a>
                        {% else %}
                        <div class="dropdown-divier"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <!-- Card Body -->
        <div class="card-body">
            {{ caller() }}
        </div>
    </div>
</div>
{% endmacro %}

{% macro alert_card(heading, text, background = 'primary', color = 'white') %}
<div class="col-lg-6 mb-4">
    <div class="card bg-{{ background }} text-{{ color }} shadow">
        <div class="card-body">
            {{ heading }}
            <div class="text-{{ color }}-50 small">{{ text }}</div>
        </div>
    </div>
</div>
{% endmacro %}